body{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #525252;
    background: #F3F3F3;
    margin: 0 30px;
}

.error {color: #FF0000;}

.header {
	text-transform: uppercase;
	letter-spacing: 2.3px;
    border-bottom: 1px solid #E4E4E4;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    min-width: 190px;
}

.header a{
	text-decoration: none;
	color: #525252;
}

.menu {
	font-size: 13px;
    line-height: 1.5;
    color: #525252;
    text-align: right;
}

.menu a {
	text-decoration: none;
	margin-left: 30px;
}

.news_headline{
    color: #525252;
    padding: 0;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2.3px;
}

.news_block{
	padding-top: 20px;
	border-bottom: 1px solid #E4E4E4;
	text-align: justify;
}

.delete{
	text-align: right;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1.5px;
	text-decoration: none;
}

.add_form{
	margin-top: 10px;
}

input {
	width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}

textarea {
	background: #f6f6f6;
	border: 1px solid #cecece;
	border-radius: 8px 0 0 0;
	padding: 8px 0 8px 10px;
	width: 500px;
	height: 200px;
}
